/**body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  height: 100%;
  background-color: #cacaca;
  margin: 0;
}

header {
  background-image: url("images/BG_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 726px;
  padding-top: 65px;
} 

.left-text {
  max-width: 1292px;
  margin: 130px auto;
}

.left-text div {
  max-width: 549px;
  float: left;
}

.left-text h1 {
  font-weight: 500;
  font-size: 53.2px;
  line-height: 62px;
  color: #fff;
}

.left-text p {
  font-weight: normal;
  font-size: 18.2px;
  line-height: 21px;
  color: #ffffff;
}

.video {
  height: 54px;
  padding: 19px 35px;
  background-color: #f44336;
  border: none;
  box-shadow: 0px 2px 2px rgba(244, 67, 54, 0.14);
  border-radius: 3px;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.video svg {
  vertical-align: middle;
} 

main {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  top: -88px;
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 2px 24px rgba(0, 0, 0, 0.14);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 95px 125px;
}

h2 {
  font-weight: normal;
  font-size: 36.4px;
  line-height: 43px;
  color: #3c4858;
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
}

.lead-text {
  max-width: 725px;
  font-style: normal;
  font-weight: 300;
  font-size: 17.5px;
  line-height: 21px;
  text-align: center;
  color: #999999;
  margin: 0 auto;
}


.features {
  margin-top: 161px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.features div {
  width: 328px;
  display: flex;
  flex-flow: column wrap;
}

.features div img {
  margin: 0 auto;
}

.features div h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #3c4858;
}

.features div p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #999999;
}

**/

.members {
  display: flex;
  justify-content: space-between;
}

.members div {
  max-width: 30%;
}

.top-menu {
  max-width: 1128px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em 1.5em;
}

/*#logo {
  color: #fff;
  text-decoration: none;
}

.top-menu nav {
  display: flex;
}

.top-menu nav a {
  color: #fff;
  margin-left: 27px;
  font-size: 12px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.top-menu nav img {
  vertical-align: middle;
  margin-right: 3px;
}

*/

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.bottom-nav a {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 34px;
  text-transform: uppercase;
}

.rights {
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;
  color: #ffffff;
}

svg {
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: #f44336;
  stroke-width: 0.1em;
}
